
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f7fb;
}
/* Top bar start */
#top-bar {
    width: 100%;
    height: 10%;
    padding: 0 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
}
#logo-wrapper {
    width: 24px;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 16px;
}
.brand-name {
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: 500;
    margin: 0;
    padding-left: 5px;
    color: rgba(0,0,0,.8);
}
#menu-items {
  display: flex;
  margin-left:10% ;
  
}
#menu-items > a {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 18px 0 16px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing:.6px;
    margin: 0 10px;
}
#logout-btn {
    color: rgba(0,0,0,.8);
    font-size: 16px;
    font-weight: 500;
    letter-spacing:.6px; 
    text-decoration: none;
    margin-left: 63%;
}
#main-section{
    margin-top: 100px;
}
#main-content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
#main-heading{
    margin: 0;
    font-weight: 500;
}
#content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
#content-left{
    width: 180px;
}
#left-heading{
   margin:0px
}
#left-content{
    display: flex;
    flex-direction: column;
}
#left-label{
    margin: 6px 0;
    cursor: pointer;
}
#content-right{
    width:100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody tr {
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;

}
table th{
    background-color:#f6f7fb;
    text-transform: capitalize;
    font-size: 15px;
}
table td{
    text-align: center;
    padding: 15px 15px;
    color: rgba(0,0,0,.8);
    font-weight: 500;
    font-size: 16px;
  
}
.number{
    color: #8c8c8c;
    font-size: 15px;
}
.date {
    color: rgba(0,0,0,.8);
    font-weight: 500;
    font-size: 16px;
}